<template name="login">
  <div class="container">
	  <div class="row">
	  	<div class="col-xs-12 header">
	  		{{>logo}}
	  	</div>
	  </div>

	  <div class="row">
	  	<div class="col-xs-12 login-area">
	  			
	  			<form class="login">
		  			<div class="row">
			  			<div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
						      <label>EMAIL</label>
						      <input class="input" type="email" placeholder="enter your email" name="email" autofocus>
						      <label for="password">PASSWORD</label>
						      <input class="input" type="password" name="password">
						  </div>
					  </div>
				   
				    <div class="row">
				    <div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3 login-button">
				      <input class="login-button" type="submit" value="LOG IN">
				    </div>
				    </div>
			  	</form>

			  	<div class="row">
				  	<div class="col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
					  	<a href="{{pathFor 'signup'}}">
					  		<div class="col-xs-6 left">Create Account</div>
					  	</a>
					  	<a href="{{pathFor '#'}}">
					  		<div class="col-xs-6 right">Forgot Password?</div>
					  	</a>
						</div>
					</div>

	  	</div>
	  </div>
  </div> <!-- end of container -->
</template>



