* {
	color: #999;
	/*font-family: 'Oswald', sans-serif;*/
	box-sizing: border-box;

}

body,
.container {
	font-family: 'Open Sans Condensed', sans-serif;
	/*font-family: 'Oswald', sans-serif;*/
	background: #000000;
	margin: auto;
}

.main-display {
	padding-left: 0;
	padding-right: 0;
	background: #000;
}

a {
	text-decoration: none;
	color: #9d9d9d;
}

a:hover {
	text-decoration: none;
	color: white;
}

.col-xs-12 {
	text-align: center;
	color: #FFFFFF;
	margin: 0;
}


.label {
	background: #000000;
	border: 0;
	text-align: left;
	font-size: 1.6em;
	font-weight: 300;
	color: #5767CC;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 12px;
	border-bottom: solid 1px #999999;
	border-radius: 0;


}

.col-xs-6 {
	color: #000000;
	padding-left: 15px;
}


.col-xs-4 {
	color: #000000;
}

.col-xs-4.empty{
	background: #000000;

}

.col-xs-8 {
	color: yellow;

}

.exit {
	background: #000;
	color: #FF0018;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 40px;
	margin-bottom: 50px;

}

.exit button {
	background: #000000;
	color: #FF0018;
	font-size: 1.6em;
	font-weight: bold;
	width: 100%;
	border: 1px solid #000;
	border-radius: 5px;	


}

.exit button:hover {
	border: 1px solid #FF0018;
	border-radius: 5px;
}




/*///////////////////////////////////////////////////
DASHBOARD HEADER LINKS
////////////////////////////////////////////////////*/


.dash-header {
	border: 0;
}

#profile-button {
	background: #000000;
	text-align: left;
	padding-left: 10px;
	margin-top: 5px;
	color: #9d9d9d;

}

#profile-button h4 {
	font-size: 1.7em;
}

.s {
	font-size: .6em;
	padding-left: 7px;
/*	vertical-align: 2.5px;*/
}

.s-text {
	vertical-align: 2.5px;
}

.right h4 {
	text-align: right;
	padding-right: 10px;
}

/*#profile-button h4 span:hover {
	color: #38FF18;
}
*/




/*///////////////////////////////////////////////////
DATE AND TIME
////////////////////////////////////////////////////*/

#date-time-bar {

	background: #000000;
	text-align: center;
	border: 0;
	margin-bottom: 15px;
}

#date {

	background: #000000;
	color: white;
	font-weight: 300;
	padding-top: 8px;
	font-size: 1.5em;
}


#clock {
	background: #000000;
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed';
	font-size: 4em;
	font-weight: 700;
	line-height: 110%;
	padding-top: 3px;
	padding-bottom: 10px;

}

.actual-time {

	color: white;
	font-size: 1em;
	padding: 0;
}


/*///////////////////////////////////////////////////
TEMPERATURE AND FORECAST
////////////////////////////////////////////////////*/

#temp-bar {
	background: #000000;
	border-top: 0;
/*	border-bottom: 1px solid #999999;*/
	margin-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #999999;


}

 .col-xs-12.status {
	background: #000000;
	padding-top: 4px;
	font-size: 1.4em;
	border: 0;
	padding-bottom: 5px;

}

 .col-xs-12.status.g {
	color: #9d9d9d;
	padding-bottom: 0;
}


 .col-xs-12.status-temp {
	background: #000000;
	font-size: 4em;
	line-height: 110%;
	padding-top: 2px;
	padding-right: 2px;
	border: 0;
}

.status-temp.lo {
	color: #38B3FF;
}

.status-temp.hi {
	color: #38FF18;
}


.precip {

}


.col-xs-12.refresh {
	padding-top: 10px;
	font-weight: 300;
	border: 0;
	background: #000000;
	margin-top: 10px;
}

.glyphicon.glyphicon-refresh {
	margin-right: 5px;
}

#viz-wrapperP {
	background: #DDD;
	padding: 20px;
}

#viz-wrapperP svg {
	padding-bottom: 10px;
}

/* EXPERIMENTAL SVG GRAPH STYLES */

       path {
         stroke: steelblue;
         stroke-width: 1;
         fill: none;
       }

       .axis {
         shape-rendering: crispEdges;
       }
       .x.axis line {
         stroke: lightgrey;
       }
       .x.axis .minor {
         stroke-opacity: .5;
       }
       .x.axis path {
         display: none;
       }
       .y.axis line, .y.axis path {
         fill: none;
         stroke: #000;
       }
