* {
	color: #999999;
	/*font-family: 'Oswald', sans-serif;*/
	box-sizing: border-box;

}


body,
div.container {
	font-family: 'Open Sans Condensed', sans-serif;
	/*font-family: 'Oswald', sans-serif;*/
	background: #000000;
	margin: auto;
}

a {
	text-decoration: none;
	color: #9d9d9d;
}

a:hover {
	text-decoration: none;
	color: white;
}

.col-xs-12 {
	text-align: center;
	color: #FFFFFF;
	background: #111111;
	border: solid 1px #999999;
	margin: auto;
}


div.col-xs-12.label {
	height: 25px;
	background: #000000;
	border: 0;
	text-align: left;
	font-size: 1.2em;
	font-weight: 300;
	color: #5767CC;
	padding: 0;
	padding-top: 2.5px;
	padding-left: 5px;
	margin-top: 12px;
	border-bottom: solid 1px #999999;
	border-radius: 0;

		
}

.col-xs-6 {
	/*height: 50px;*/
	color: #000000;
	padding-left: 15px;
}


.col-xs-4 {
	/*height: 45px;*/
	color: #000000;
	padding: 15px;
	padding-bottom: 0;
}

.col-xs-4.empty{
	background: #000000;
	/*height: 45px;*/

}

.col-xs-8 {
	/*height: 40px;*/
	color: yellow;
	background-color: blue;

}


div.col-xs-12.exit {
	background: #000000;
	color: #FF0018;
	font-size: 1.55em;
	font-weight: 300;
	padding-top: 4px;
	border-left: 0;
	border-right: 0;
	margin-top: 5px;
	margin-bottom: 20px;

}

div.col-xs-12.exit button {
	background: #000000;
	padding-right: 75px;
	padding-left: 75px;
	border: 0;
}

/*.container {
	background: blue;
}


.col-sm-4 {
	background: red;

}*/

.col-xs-12.header {
	/*height: 50px;*/
	text-align: center;
}

div.col-xs-12.location-singular,
div.col-xs-4.edit,
div.col-xs-6.edit
 {
	/*height: 40px;*/
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	background: #000000;
	color: white;
	border-left: 0;
	border-right: 0;
	font-weight: 300;
	font-size: 1.45em;
	border-top: 0;
	border-bottom: 1px solid #999999;
}

div.col-xs-12.location-singular:hover{

	height: 40px;
/*	background: #555555;*/
	color: #38FF18;
	border-bottom: 1px solid #38FF18;

}




/*///////////////////////////////////////////////////
DASHBOARD HEADER LINKS
////////////////////////////////////////////////////*/


span.glyphicon.glyphicon-user {
	margin-right: 5px;
}

span.glyphicon.glyphicon-home {
	margin-left: 5px;
}

.dash-header {
	border: 0;
}

#profile-button {
	background: #000000;
	/*height: 45px;*/
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	color: #9d9d9d;
	border: 1px solid #9d9d9d;


}


/*///////////////////////////////////////////////////
DATE AND TIME
////////////////////////////////////////////////////*/

#date-time-bar {
	/*height: 100px;*/
	background: #000000;
	margin-top: 15px;

}

#date {
	/*height: 45px;*/
	background: #000000;
	/*height: 20px;*/
	color: white;
	/*padding-top: 4px;*/
	/*padding-bottom: 2px;*/
	text-align: center;
	font-weight: 300;
	/*margin-bottom: 2px;*/
}


#clock {
	/*height: 55px;*/
	background: #000000;
	color: white;
	text-align: center;
	/*padding-top: 3.5px;*/
	font-family: 'Open Sans Condensed';
	font-size: 3.4em;
	font-weight: 700;
	line-height: 110%;

}

.actual-time,
.meridian {
	height: 70px;
	text-align: left;
	color: white;
	font-size: 1em;
	padding: 0;
}

.actual-time {
/*	padding-right: 5%;*/
}


.meridian {

}

/*///////////////////////////////////////////////////
TEMPERATURE AND FORECAST
////////////////////////////////////////////////////*/

#temp-bar {
	/*height: 105px;*/
	background: #000000;
	border-bottom: 1px solid #999999;
	margin-bottom: 5px;

}

div .col-xs-12.status {
	/*height: 25px;*/
	background: #000000;
	padding-top: 4px;
	font-weight: 300;
	border: 0;

}

div .col-xs-12.status.g {
	color: #9d9d9d;
}


div .col-xs-12.status-temp {
	/*height: 50px;*/
	background: #000000;
	font-weight: 700;
	font-size: 3.5em;
	line-height: 110%;
	/*padding-top: 2px;*/
	padding-right: 2px;
	border: 0;
}

.status-temp.lo {
	color: #38B3FF;
}

.status-temp.hi {
	color: #38FF18;
}

div.col-xs-12.refresh {
	padding-top: 10px;
	font-weight: 300;
	border: 0;
	background: #000000;
	margin-top: 10px;
}

span.glyphicon.glyphicon-refresh {
	margin-right: 5px;
}
