* {
	color: #999999;
	/*font-family: 'Oswald', sans-serif;*/
	box-sizing: border-box;

}


body,
.container {
	font-family: 'Open Sans Condensed', sans-serif;
	/*font-family: 'Oswald', sans-serif;*/
	background: #000000;
	margin: auto;
}

a {
	text-decoration: none;
	color: #9d9d9d;
}

a:hover {
	text-decoration: none;
	color: white;
}

.col-xs-12 {
	text-align: center;
	color: #FFFFFF;
	background: #111111;
	border: solid 1px #999999;
	margin: auto;
}


.label {
	background: #000000;
	border: 0;
	text-align: left;
	font-size: 1.3em;
	font-weight: 300;
	color: #5767CC;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 12px;
	border-bottom: solid 1px #999999;
	border-radius: 0;

		
}

.col-xs-6 {
	color: #000000;
	padding-left: 15px;
}


.col-xs-4 {
	color: #000000;
}

.col-xs-4.empty{
	background: #000000;

}

.col-xs-8 {
	color: yellow;
	background-color: blue;

}


.col-xs-12.exit {
	background: #000000;
	color: #FF0018;
	font-size: 1.55em;
/*	border-left: 0;
	border-right: 0;*/
	border: 0;
	margin-top: 15px;
	margin-bottom: 20px;

}

.exit button {
	background: #000000;
/*		color: #FF0018;
		font-size: 1.55em;*/
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 75px;
	padding-left: 75px;
	border: 0;
}

.exit button:hover {
	color: #FF880B;	
}

/*.container {
	background: blue;
}


.col-sm-4 {
	background: red;

}*/

/*.col-xs-12.header {
	height: 50px;
	text-align: center;
}*/

.location-singular/*,
.col-xs-4.edit,
.col-xs-6.edit*/
 {

	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
	background: #000000;
	color: white;
	border-left: 0;
	border-right: 0;
	font-weight: 300;
	font-size: 1.7em;
	border-top: 0;
	border-bottom: 1px solid #999999;
}

.location-singular:hover{
	color: #38FF18;
	border-bottom: 1px solid #38FF18;

}

.location-singular a:hover{
	color: #38FF18;
}





/*///////////////////////////////////////////////////
DASHBOARD HEADER LINKS
////////////////////////////////////////////////////*/


.glyphicon.glyphicon-user {
	margin-right: 5px;
}

.dash-header {
	border: 0;
}

#profile-button {
	background: #000000;
	text-align: left;
	padding-left: 10px;
	color: #9d9d9d;
/*	border: 1px solid #9d9d9d;*/


}


/*///////////////////////////////////////////////////
DATE AND TIME
////////////////////////////////////////////////////*/

#date-time-bar {

	background: #000000;
	text-align: center;
	border: 0;
}

#date {

	background: #000000;
	color: white;
	font-weight: 300;
	padding-top: 8px;
	font-size: 1.1em;
}


#clock {
	background: #000000;
	color: white;
	text-align: center;
	font-family: 'Open Sans Condensed';
	font-size: 3.4em;
	font-weight: 700;
	line-height: 110%;
	padding-top: 3px;
	padding-bottom: 10px;

}

.actual-time {

	color: white;
	font-size: 1em;
	padding: 0;
}


/*///////////////////////////////////////////////////
TEMPERATURE AND FORECAST
////////////////////////////////////////////////////*/

#temp-bar {
	background: #000000;
	border-top: 0;
	border-bottom: 1px solid #999999;
	margin-bottom: 5px;

}

 .col-xs-12.status {
	background: #000000;
	padding-top: 4px;
	font-weight: 300;
	border: 0;
	padding-bottom: 5px;

}

 .col-xs-12.status.g {
	color: #9d9d9d;
	padding-bottom: 0;
}


 .col-xs-12.status-temp {
	background: #000000;
	font-weight: 700;
	font-size: 3.5em;
	line-height: 110%;
	padding-top: 2px;
	padding-right: 2px;
	border: 0;
}

.status-temp.lo {
	color: #38B3FF;
}

.status-temp.hi {
	color: #38FF18;
}


.precip {

}


.col-xs-12.refresh {
	padding-top: 10px;
	font-weight: 300;
	border: 0;
	background: #000000;
	margin-top: 10px;
}

.glyphicon.glyphicon-refresh {
	margin-right: 5px;
}

#viz-wrapperP {
	background: #DDD;
	padding: 20px;
}

#viz-wrapperP svg {
	padding-bottom: 10px;
}

/* EXPERIMENTAL SVG GRAPH STYLES */

       path {
         stroke: steelblue;
         stroke-width: 1;
         fill: none;
       }
      
       .axis {
         shape-rendering: crispEdges;
       }
       .x.axis line {
         stroke: lightgrey;
       }
       .x.axis .minor {
         stroke-opacity: .5;
       }
       .x.axis path {
         display: none;
       }
       .y.axis line, .y.axis path {
         fill: none;
         stroke: #000;
       }