.glyphicon-menu-left,
.glyphicon-menu-right {
	color: #38FF18;
}

.to-set {
	color: #38FF18;
	vertical-align: 3px;
}

.profile-anchor:hover div,
.profile-anchor:hover span {
	color: #FFF;
}

.map-container {
  height: 300px;
  width: 100%;
  margin-top: 10px;
}

.button-row {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 5px;

}

.buttons {
	padding-left: 0;
	padding-right: 0;
}


.cancel,
.use-current,
.save,
.delete {
	width: 100%;
	background: #000;
	font-size: 1.5em;
	margin-bottom: 15px;
/*	margin-left: 10%;
	margin-right: 10%;*/
}

.delete {
	padding: 5px;
	color: #FF0018;
	border: 1px solid #FFF;
	border-radius: 5px;
}

.delete:hover {
	background: #222;
	border-color: #FF0018;
}



.cancel{
	border-color: #FF0018;
/*	margin-left: 0;*/
}

.cancel:hover{
	background: #FF0018;
}

.use-current {

	border-color: #5767CC;
	min-width: 194px;
}

.use-current:hover {
	background: #5767CC;
}

.save {
	border-color: #38FF18;
}

.save:hover {
	background: #38FF18;
	color: #000;
}

.add-stop span {
	padding-right: 5px;
}

.stops-list {
	list-style: none;
	padding-left: 0;
}