.location-lines {
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #999;
}

.stop-edit-btn {

	text-align: right;
	font-size: 2em;
	padding-top: 1em;

}

.stop-edit-btn span{
	color: #FFF;
}

.line-desc,
.direction-desc {
	text-align: left;
	font-size: 1.3em;
}

.line-desc {
	font-size: 1.9em;
	font-weight: 700;
	color: #A565CC;
}

.direction-desc {
	
}

.stop-desc {
	font-size: 1.3em;
	text-align: left;
	padding-top: 3px;
	padding-left: 15px;
	color: #777;

}
