.header {
	height: 350px;
/*	height: 500px;*/
	background: #000;
	text-align: center;
	border: 0;
	margin-top: 10px;
	margin-bottom: 15px;
}

img svg.logo-oval ellipse:hover {
	fill: #38FF18;

}


.login-area {
	background: #000;
	padding-top: 10px;
	border: 0;
	
}

.login-area label,
.login-area input.input {
	display: block;
	text-align: left;
	width: 100%;
	font-weight: 300;
	font-size: 1.3em;
	margin-bottom: 25px;
}

.login-area input.input {
	background: #000;
	color: #fff;
	font-size: 1.5em;
	padding: 5px;
	padding-left: 10px;
	margin-bottom: 17px;
	border: 1px solid #999999;
	border-radius: 5px;
}

.login-area input {
	border: 1px solid #999;
}

.login-area input:hover {
	color: #FFF;
	border: 1px solid #38FF18;
}

input.login-button {
/*	font-weight: 700;*/
	border: 1px solid #000;
	border-radius: 5px;
}

.login-button, .exit {
	background: #000000;
	color: #38FF18;
	font-size: 1.4em;
	margin-top: 5px;

}



.login-button input,
.exit input {
	width: 53%;
}

.exit input {
	border: 0;
}

.left,
.right {
	background: #000;
	color: #999999;
	font-size: 1.7em;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 15px;

}


.left {
	text-align: left;
	padding-left: 0;

}

.right {
	text-align: right;
	padding-right: 0;

}