.col-xs-12.profile-header{
	background: #000000;
	color: #38FF18;
	border: 0;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: 700;
	font-size: 1.65em;
}

.col-xs-12.profile-form {
	text-align: left;
	border: 0;

}

.name-change {
	text-align: left;
}

.name-input {
	background: #000;
	width: 100%;
	font-size: 1.65em;
	padding: 6px;
	margin-right: 15px;
	margin-left: 0;
	border: 0;
}

.name-button {
	background: blue;
	text-align: center;

}

.name.submit-button {
	width: 110%;


}



.col-xs-12.input {
	text-align: left;
	padding-top: 3px;
	padding-left: 5px;
	background: #000000;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	margin-bottom: 20px;

}

.col-xs-12.location {
	background: #000000;
	text-align: left;
	padding-top: 3px;
	padding-left: 5px;
	border-left: 0;
	border-right: 0;
	font-weight: 300;
	font-size: 1.45em;
	border-top: 0;

}



ul.locations-list {
	color: #FFF;
	list-style: none;
	padding-left: 0;
}

.locations-list a {
	color: #FFF;
}


.col-xs-12.input input {
	background: #000000;
	border: 0;
	font-weight: 300;
	font-size: 1.45em;
	color: white;
	padding-top: 2.5px;
	padding-left: 5px;
	margin-bottom: 20px;
}


.view-link {
	background: #000000;
	text-align: right;
	padding-top: 4px;
	color: #38FF18;
	margin-right: 0;
	border: 0;

}

/*.text {
	vertical-align: middle;
}*/

/*.col-xs-6.view-link.left {
	text-align: left;
	padding-top: 0;
	padding-top: 2px;
	padding-bottom: 5px;
}*/

.add-location {
	background: #000;
	font-size: 1.3em;
	padding-top: 10px;
	border: 0;
}

.add-location:hover,
.add-location:hover span {
	color: #FFF;
}

.btn-text {
	color: #38FF18;
	vertical-align: 2px;
}



span.glyphicon.glyphicon-plus-sign,
span.glyphicon.glyphicon-globe,
span.glyphicon.glyphicon-road {
	color: #38FF18;
	margin-left: 8px;
	/*	padding-bottom: 2px;*/
	font-size: 1.1em;
}

.col-xs-12.to-dashboard {
	background: #38FF18;
	color: #000000;
	font-size: 1.65em;
	font-weight: bold;
	padding-top: 5.25px;
	padding-bottom: 5px;
	margin-top: 40px;
	margin-bottom: 50px;

}

.col-xs-12.to-dashboard:hover {
	color: #FFF;
}







