.container-fluid {
    padding: 0;
}


/*.dropdown button {
	width: 100%;
	background: #FF0018;
	font-size: 1.3em;
	border-radius: 0;

}

.dropdown.open {
	background: #FF0018;
}


.dropdown button:hover {
	background: #FF0018;
	color: #000;
}

.caret {
	margin-left: 20px;
}*/

.reminder-list {
    color: #FFF;
    list-style: none;
    padding-left: 0;
}

.carousel-control span {
    color: #FFF;
/*    vertical-align: 10px;
*/}

.carousel-control .icon-next,
.carousel-control .icon-prev {
    margin-top: -18px;
}

.rem-car-header {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
}

.carousel-control.right a,
.carousel-control.left a {
	color: #FFF;
}


/*//////////////////////////////////////
NAVBAR DROPDOWN FOR REMINDERS
//////////////////////////////////////*/

.navbar-header {
    margin-right: 0;
    background: #FF0018;
/*    border-color: #FFF;*/
}


.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #000;
}

.navbar-inverse,
.navbar-brand {
    color: #FFF !important;
}
.navbar-brand {
    margin-left: 0;
    color: #FFF;
}
.navbar-toggle,
.navbar-toggle:focus {
/*    margin-right: 0;*/
    background: #FF0018 !important;
    border-color: #FFF;
    border: 0;
}

.nav.navbar-nav.navbar-right {
	list-style: none;
	text-indent: 0;
    padding: 0;
    margin-right: 0;
}

.collapse.in {

}
.reminder-row {
    background: #FF0018;
    border: 0;
}

.dropdown-reminder-entry {
	font-size: 1.5em;
    color: #FFF;
	background: #FF0018;
	border: 0;
	border-bottom: 1px solid #000;
    text-align: left;
    padding: 8px 22px;
    text-transform: uppercase;
}

.remove {
    text-align: right;
}

.rem-entry {
    text-align: left;
}

.remove-reminder {
	background: #FF0018;
	padding-top: 4px;
	border: 0;

}

.glyphicon-remove-circle {
	color: #FFF;
}

.r {
    color: #FFF;
    vertical-align: 2px;
}

@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        background: #FF0018;
    	border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
/*        margin-top: 7.5px;*/
        margin-top: 0;
        margin-bottom: 0;
    }
    .navbar-nav ul {
    	list-style: none;
    }

    .navbar-nav>li {
        float: none;
        list-style: none;
    }
    .navbar-nav>li>a {
/*        padding-top: 10px;*/
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
