.signup-header {
/*	height: 125px;*/
	background: #000;
	color: #FFF;
	border: 0;
	font-size: 1em;

}

.signup-header h1 {
	font-weight: bold;
	font-size: 3em;
	padding-bottom: 6px;
}

.signup-header h3 {
	font-size: 1.6em;
	padding-bottom: 7px;
}

.signup-header p {
	font-size: 1.5em;
}


.signup {
	padding: 10px;

}


.signup input {
	font-size: 2em;
	border: 1px solid #000;
	border-radius: 5px;
	padding-bottom: 2px;
	margin-bottom: 5px;
}

.create-button {

}

.signup-input {
	font-size: 2em;
	margin-bottom: 5px;
}

.signup input:hover {
	color: #FFF;
}

/*.create-button {

	padding-bottom: 8px;
	padding-top: 0;
	margin-top: 15px;
	border-radius: 5px;
}*/

.alr-log a {
	text-decoration: underline;
	color: #38FF18;
}

.login-page-btn-sm {
	background: #000;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	border: 1px solid #38FF18;
	border-radius: 5px;
}

.alr-log:hover a {
	color: #FFF;
}