.signup-header {
/*	height: 125px;*/
	background: #000;
	color: #FFF;
	border: 0;
	font-size: 1em;

}

.signup-header h1 {
	font-weight: bold;
	font-size: 3em;
	padding-bottom: 6px;
}

.signup-header h3 {
	font-size: 1.6em;
	padding-bottom: 7px;
}

.signup-header p {
	font-size: 1.5em;
	color: #9d9d9d;
}

.signup-header a {
	text-decoration: underline;
}

.signup {
	background: #555;
/*		background: #FFF;*/
	border-radius: 5px;
	padding: 10px;

}

.signup label {
	color: #FFF;
	font-size: 1.6em;
}

.signup input {
	font-size: 2em;
	border: 0;
	border-radius: 5px;
	padding-bottom: 2px;
}

.signup-input {
	font-size: 1.5em;
}

.signup input:hover {
	color: #FFF;
}

/*.create-button {

	padding-bottom: 8px;
	padding-top: 0;
	margin-top: 15px;
	border-radius: 5px;
}*/