/*///////////////////////////////////////////////////
TRANSIT ROUTES
////////////////////////////////////////////////////*/

.bus-bar {
	border-bottom: 1px solid #999999;
	font-size: 2em;
}

.direction {
  text-align: left;
  text-transform: uppercase;
  color: #777;
  font-size: 0.6em;
  margin-top: -1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.bus-line {
	background: transparent;
	text-align: left;
	font-weight: 700;
	color: #A565CC;
/*	font-size: 1.7em;
*/
	font-size: 1.3em;
	padding-right: 5px;
	padding-top: .3em;
	padding-bottom: .3em;
}

.bus-arrival {
	background: transparent;
	text-align: right;
	font-weight: 300;
	font-size: 1.2em;
	color: #FFF;
  	padding-top: .3em;
  	padding-bottom: .3em;

}
