<template name="reminder">

<!-- Carousel slider -->
<!-- {{#if remindersCount}}
<div class="row">
	<div class="carousel slide" id="myCarousel">
		<div class="carousel-inner">
			{{#each remindersList}}
			<div class="item">

						{{>remindersTemplate}}

			</div>
			{{/each}}
			<div class="item active">
	  			<div class="col-xs-12 dropdown-reminder-entry rem-car-header">
								<span class="r">{{remindersCount}} REMINDERS</span>
					</div>
			</div>

			<a class=" left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control right" href="#myCarousel" data-slide="next">
				<span class="icon-next"></span>
			</a>
		</div>
	</div>
</div>
{{/if}} -->


<!-- DROPDOWN NAVBAR -->
{{#if remindersCount}}
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="row">
			<div class="navbar-header">
				<span class="navbar-brand">{{remindersCount}} {{remindersLabel}}</span>
				<button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>

				<div class="container-fluid">
				<div class="collapse navbar-collapse navHeaderCollapse">
				<div class="row reminder-row">
					<ul class="nav navbar-nav navbar-right">
						{{#each remindersList}}
							<li>
								{{>remindersTemplate}}
							</li>
						{{/each}}
					</ul>
				</div>
				</div>
				</div>
	</div>
{{/if}}
</template>

<template name="remindersTemplate">
<!-- 	<li> -->
		<div class="col-xs-12 dropdown-reminder-entry">
		<button class="remove-reminder"><span class="glyphicon glyphicon-remove-circle"></span></button><span class="r">{{reminderTitle}}</span>

		</div>
<!-- 	</li> -->
</template>

