<template name="profile">
<div class="container">
<div class="col-xs-12 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">


    <div class="row">
      <div class="col-xs-12 dash-header">
        <div class="row">
          <a href="{{pathFor 'profile'}}">
            <div class="col-xs-4" id="profile-button">
              <h4>
                <span class="glyphicon glyphicon-user"></span>

                 <a href="{{pathFor 'profile'}}">{{username}}'s Profile</a>
              </h4>
            </div>
          </a>
        </div>
      </div>
    </div>


	<div class="row">
		<div class="col-xs-12 profile-header">
			EDIT YOUR PROFILE
		</div>
	</div>




  <div class="row">
    <div class="col-xs-12 label">
      Display Name
    </div>
  </div>


<form class='name-change'>
  <div class="row">
    <div class="col-xs-12">
      <input type="text" class="name-input" value="{{username}}">
    </div>
  </div>
</form>



  <div class="row">
    <div class="col-xs-12 label">
      Your Locations
    </div>
  </div>

<div class="row">
<ul class="locations-list">

<ul class="locations-list">
{{#each locations}}
      <div class="col-xs-12 location-singular">

	<li>
		<a href="{{pathFor 'location'}}">
			<!-- <div class="col-xs-12 location-singular"> -->
				{{name}} >
<!-- 			</div>
 -->		</a>
	</li>
  </div>

{{/each}}
</ul>
</div>


<!-- CHANGE THIS TO A PUSH COLUMN INSTEAD OF INSERTING AN EMPTY ONE -->
	<div class="row">
		<div class="col-xs-6 view-link"></div>
		<div class="col-xs-6 view-link">
			<button class="add-location">
				ADD NEW LOCATION<span class="glyphicon glyphicon-plus-sign"></span>
			</button>
		</div>
	</div>
<!-- 			<a href="{{pathFor 'locations'}}"> -->
				<div class="col-xs-6 view-link">
					<button class="add-location">
						<span class="btn-text">ADD NEW LOCATION</span><span class="glyphicon glyphicon-globe"></span>
					</button>
				</div>
<!-- 			</a> -->
			</div>

	<div class="row">
		<a href="{{pathFor 'dashboard'}}"><div class="col-xs-12 to-dashboard">GO TO YOUR DASHBOARD</div></a>
	</div>

 	<div class="row">
    <div class="col-xs-12 exit">
      <button class="logout">
        LOG OUT
      </button>
    </div>
  </div>

</div>
</div>

</template>
