 <template name="profile">
  <div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-6 col-lg-push-3 main-display">

    <div class="row">
      <div class="col-xs-12 profile-header">
        EDIT SETTINGS
      </div>
    </div>
     
     <div class="row">
       <div class="col-xs-12 label">
         Display Name
       </div>
     </div>


  <form class='name-change'>
    <div class="row">
      <div class="col-xs-12">
        <input type="text" class="name-input" value="{{username}}">
      </div>
    </div>
  </form>



   <div class="row">
     <div class="col-xs-12 label">
       Your Locations
     </div>
   </div>

 <ul class="locations-list">
 {{#each locations}}
  <li>
    <a class="location-anchor" href="{{pathFor 'location'}}">
      <div class="row location-singular">
        <div class="col-xs-10">
        {{name}}
        </div>
        <div class="col-xs-2">
        <span class="glyphicon glyphicon-menu-right"></span>
        </div>
      </div>
    </a>
  </li>
 {{/each}}
 </ul>


  <div class="row">
    <div class="col-xs-8 col-xs-push-4 view-link">
<!--     <input type="submit" value="NEW LOCATION"> -->
      <button class="add-location">
        <span class="btn-text">ADD LOCATION</span>
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
<!--     <span class="glyphicon glyphicon-plus-sign"></span> -->

    </div>
  </div>


    <div class="row">
      <div class="col-xs-12 label">
        Your Reminders
      </div>
    </div>

    <div class="row">
      <form class="new-reminder-form">

        <div class="col-xs-12">
          <input type="text" class="reminderField name-input" placeholder="Don't forget this">
        </div>

        <div class="col-xs-8 col-xs-push-4 view-link">
          <button type="submit" class="add-rem">
            <span class="btn-text">ADD REMINDER</span>
            <span class="glyphicon glyphicon-plus-sign"></span>
          </button>
        </div>

      </form>
    </div>

    <div class="row">
      <a href="{{pathFor 'dashboard'}}"><div class="col-xs-12 to-dashboard">GO TO DASHBOARD</div></a>
    </div>

    <div class="row">
     <div class="col-xs-12 exit">
       <button class="logout">
         LOG OUT
       </button>
     </div>
   </div>
  </div>
</template>
