 <template name="profile">
   <div class="col-xs-12 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
    <div class="row">
      <div class="col-xs-12 profile-header">
        EDIT YOUR PROFILE
      </div>
    </div>
     <div class="row">
       <div class="col-xs-12 label">
         Display Name
       </div>
     </div>


 <form class='name-change'>
   <div class="row">
     <div class="col-xs-12">
       <input type="text" class="name-input" value="{{username}}">
     </div>
   </div>
 </form>



   <div class="row">
     <div class="col-xs-12 label">
       Your Locations
     </div>
   </div>

 <ul class="locations-list">
 {{#each locations}}
  <li>
    <a href="{{pathFor 'location'}}">
      <div class="col-xs-12 location-singular">{{name}} ></div>
    </a>
  </li>
 {{/each}}
 </ul>


 <!-- CHANGE THIS TO A PUSH COLUMN INSTEAD OF INSERTING AN EMPTY ONE -->
  <div class="row">
    <div class="col-xs-6 view-link"></div>
    <div class="col-xs-6 view-link">
      <button class="add-location">
        ADD NEW LOCATION<span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 label">
      Your Reminders
    </div>
  </div>
  <ul class="reminders-list">
  {{#each reminders}}
    <li>
      <a href="{{pathFor 'reminder'}}">
        <div class="col-xs-12 location-singular">{{name}} ></div>
      </a>
    </li>
  {{/each}}
  </ul>

    <div class="row">
      <div class="col-xs-6 view-link"></div>
      <div class="col-xs-6 view-link">
        <button class="add-location">
          ADD NEW REMINDER<span class="glyphicon glyphicon-plus-sign"></span>
        </button>
      </div>
    </div>

  <div class="row">
    <a href="{{pathFor 'dashboard'}}"><div class="col-xs-12 to-dashboard">GO TO YOUR DASHBOARD</div></a>
  </div>

    <div class="row">
     <div class="col-xs-12 exit">
       <button class="logout">
         LOG OUT
       </button>
     </div>
   </div>

 </div>



 </template>
