<template name="dashboard">
    <div class="container">
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-lg-6 col-lg-push-3">
<!-- User profile / home links -->

    <div class="row">
      <div class="col-xs-12 dash-header">
        <div class="row">
          <a href="{{pathFor 'profile'}}">
            <div class="col-xs-8" id="profile-button">
              <span class="glyphicon glyphicon-user"></span>

               <h1><a href="{{pathFor 'profile'}}">SETTINGS</a></h1>
               <!-- <h1>Welcome, <a href="{{pathFor 'profile'}}">{{user}}</a></h1> -->
            </div>
          </a>
        </div>
      </div>
    </div>

<!-- Reminders Bar -->

<!-- {{#each reminders}} -->
    <!-- {{>reminder}} -->
<!-- {{/each reminders}} -->


<!-- Date and Time -->

    {{#with date}}


      <div class="row">
        <div class="col-xs-12" id="date-time-bar">
          <div class="row">
            <div class="col-sm-12" id="date">
              {{day}}
            </div>
            <div class="col-sm-12" id="clock">


            <div class="row">
            <div class="col-xs-4 col-xs-push-4 actual-time">
              {{time}}
            </div>
            <div class="col-xs-4 col-xs-push-4 meridian">
              {{meridian}}
            </div>
            </div>
            </div>
          </div>
        </div>
      </div>


    {{/with}}


<!-- Current Location -->

  <div class="row">
    <div class="col-xs-12 label">
      Current Location
    </div>

    <a href="{{pathFor 'location'}}">

      <div class="col-xs-12 location-singular">
        {{location}}
      </div>
    </a>
  </div>



<!-- Weather and Forecast -->

  {{#with weather}}
    {{#if loadingMsg}}
      <p>{{loadingMsg}}</p>
    {{else}}
      <div class="row">


        <div class="col-xs-12"  id="temp-bar">

          <div class="row">
            <div class="col-xs-6" id="hi-temp">
              <div class="row">
                <div class="col-xs-12 status g">
                  Currently
                </div>
                <div class="col-xs-12 status-temp lo">
                  {{temp}}&deg;
                </div>
                <div class="col-xs-12 status">
                  {{conditions}}
                </div>
              </div>
            </div> <!-- end of hi-temp -->
            <div class="col-xs-6" id="lo-temp">
              <div class="row">
                <div class="col-xs-12 status g">
                  High at 5pm
                </div>
                <div class="col-xs-12 status-temp hi">
                  {{high}}&deg;
                </div>
                <div class="col-xs-12 status">
                  {{next24Hours}}
                </div>
              </div>
            </div><!-- end of lo-temp -->
          </div><!-- end of nested row -->
        </div><!-- end of temp-bar -->
      </div><!-- end of row -->
    {{/if}}
  {{/with}}

<!-- Transit lines and arrival times -->
  {{#each stops}}
    {{> stop}}
  {{/each}}

  </div>
  </div>
</template>
