<template name="precipitation">
<body>
<div id="viz-wrapperP">
	
</div>

<h1>This is the precipitation page</h1>

<script type="text/javascript">

// var height = 500;
// var width = 800;
// var padding = 50;

// var vizP = d3.select("#viz-wrapperP")
// 			.append('svg')
// 			.attr('id', 'vizP')
// 			.attr('height', height)
// 			.attr('width', width);

// var yScale = d3.scale.linear()
// 				.range([height, 0]);

// var xScale = d3.scale.linear()
// 				.range([0, width]);

// var data = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]



// yScale.domain



// _________________________________________________


// var lineData = [{x: 1, y: 5},
// 				{x: 20,	y: 20},
// 				{x: 40, y: 10},
// 				{x: 60, y: 40}, 
// 				{x: 80, y: 5}, 
// 				{x: 100,y: 60}];


// xRange = d3.scale.linear()
// 		.range([MARGINS.left, WIDTH - MARGINS.right])
// 		.domain([d3.min(lineData, function(d) {
//       return d.x;
//     }), d3.max(lineData, function(d) {
//       return d.x;
//     })]),

// yRange = d3.scale.linear()
// 		.range([HEIGHT - MARGINS.top, MARGINS.bottom])
// 		.domain([d3.min(lineData, function(d) {
//       return d.y;
//     }), d3.max(lineData, function(d) {
//       return d.y;
//     })]),








</script>
</body>
</template>