<template name="signup">
  <h1>Sign Up</h1>
  <form class="signup">

    <div>
      <label>Email Address</label>
      <input type="email" placeholder="email address" name="email" autofocus>
    </div>
    <div>
      <label>Your Name</label>
      <input type="displayname" placeholder="What shall we call you?" name="displayname">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" name="password">
    </div>
    <div>
      <label for="confirm">Confirm Password</label>
      <input type="password" name="confirm">
    </div>
    <div>
      <input type="submit" value="Create Account">
    </div>
  </form>
</template>
