<template name="location">
<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-6 col-lg-push-3 main-display">

    <div class="row">
      <a href="{{pathFor 'profile'}}">
        <div class="col-xs-6 view-link left">
          <span class="glyphicon glyphicon-menu-left"></span>
          TO SETTINGS
        </div>
      </a>
    </div>


  <div class="row">
    <div class="col-xs-12 label">
      Location Name
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form class='name-change'>
        <input type="text" class="name-input" value="{{name}}">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="map-container">
      {{> googleMap name="map" options=mapOptions}}
    </div>
  </div>

  <div class="row">
    <div class="buttons col-xs-12 button-row">
      <div class="row">
        <div class="col-xs-4">
        <button class="cancel btn btn-danger">CANCEL</button>
        </div>
        <div class="col-xs-4">
        <button class="use-current btn btn-info">USE CURRENT LOCATION</button>
        </div>
        <div class="col-xs-4">
        <button class="save btn btn-success">SAVE</button>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    {{#each stops}}
      {{> locationStop}}
    {{/each}}
  </div>
  <div class="row">
    <div class="col-xs-6 view-link"></div>
    <div class="col-xs-6 view-link">
      <button class="add-location">NEW STOP<span class="glyphicon glyphicon-plus-sign"></span></button>
    </div>
  </div>
  <div class="col-xs-12 exit">
    <button class="delete delete-location">DELETE LOCATION</button>
  </div>
  </div>
</template>
