<template name="location">
  <div class="row">
    <div class="col-xs-12">
      <p>Location Name</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <form class='name-change'>
        <input type="text" class="name-input" value="{{name}}">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="map-container">
      {{> googleMap name="map" options=mapOptions}}
    </div>
  </div>
  <div class="row">
    <div class="buttons col-xs-12">
      <button class="cancel btn btn-danger">CANCEL</button><button class="use-current btn btn-info">USE CURRENT LOCATION</button><button class="save btn btn-success">SAVE</button>
    </div>
  </div>
  <div class="row">
    {{#each stops}}
      {{> locationStop}}
    {{/each}}
  </div>
  <div class="row">
    <div class="col-xs-6 view-link"></div>
    <div class="col-xs-6 view-link">
      <button class="add-location">NEW STOP<span class="glyphicon glyphicon-plus-sign"></span></button>
    </div>
  </div>
  <div class="col-xs-12 exit">
    <button class="delete delete-location">DELETE LOCATION</button>
  </div>
</template>
