<template name="location">
<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-6 col-lg-push-3 main-display">

    <div class="row">
      <a class="profile-anchor" href="{{pathFor 'profile'}}">
        <div class="col-xs-6 view-link left" id="profile-button">
          <span class="glyphicon glyphicon-menu-left"></span>
          <span class="to-set">TO SETTINGS</span>
        </div>
      </a>
      <a class="profile-anchor" href="{{pathFor 'dashboard'}}">
        <div class="col-xs-6 view-link right" id="profile-button">
          <span class="to-set">TO DASHBOARD</span>
          <span class="glyphicon glyphicon-menu-right"></span>
        </div>
      </a>
    </div>



  <div class="row">
    <div class="col-xs-12 label">
      Name
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form class='name-change'>
        <input type="text" class="name-input" value="{{name}}">
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 label">
      Location
    </div>
  </div>

  <div class="row">
    <div class="map-container">
      {{> googleMap name="map" options=mapOptions}}
    </div>
  </div>

  <div class="row">
<h6>Drag Map to Change Location</h6>
 </div>

  <div class="row">

      <div class="col-sm-12 cu-btn">
        <button class="use-current btn btn-info">
          <span class="glyphicon glyphicon-map-marker"></span>
          USE CURRENT LOCATION
         </button>
        </div>

        <div class="col-sm-6 ca-btn">
        <button class="cancel btn btn-danger">RESET LOCATION</button>
        </div>

        <div class="col-sm-6 sa-btn">
        <button class="save btn btn-success">SAVE LOCATION</button>
        </div>
      </div>

  <div class="row">
    <div class="col-xs-12 label">
      Location Stops
    </div>
  </div>

  <div class="row">
    <ul class="stops-list">
      {{#each stops}}
        {{> locationStop}}
      {{/each}}
    </ul>
  </div>

  <div class="row">
    <div class="col-xs-8 col-xs-push-4 view-link">
      <button class="add-location add-stop">
        <span class="btn-text">NEW STOP</span>
        <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>
  </div>

  <div class="col-xs-12 exit">
    <button class="delete delete-location">DELETE LOCATION</button>
  </div>
</div>
</template>
