<template name="locationStop">

	<div class="row">
		  <li>
		  	<a href="{{pathFor 'stopEditor'}}">
		    	<div class="col-xs-12">
				    <div class="row location-lines">
					    <div class="col-xs-12 line-desc">
							{{lineDescription}}
					    </div>
					    <div class="col-xs-12 direction-desc">
				      		{{directionDescription}}
				      	</div>

					    <div class="col-xs-12 stop-desc">
					      {{stopDescription}}
					    </div>
				    </div>
			    </div>
		  	</a>
		  </li>
	</div>


</template>
