<template name="stopEditor">
<div class="col-xs-12 col-sm-10 col-sm-push-1 col-lg-6 col-lg-push-3 main-display">
<div class="list-group">
{{#if lineDescription}}
  <button type="button" class="list-group-item line-description top-level">{{lineDescription}}</button>
  {{#if directionDescription}}
    <button type="button" class="list-group-item direction-description top-level">{{directionDescription}}</button>
    {{#if stopDescription}}
      <button type="button" class="list-group-item stop-description top-level">{{stopDescription}}</button>
    {{else}}
      <div class="list-group-item active">CHOOSE A STOP</div>
      {{#each busStops}}
        {{> singleStop}}
      {{/each}}
    {{/if}}
  {{else}}
    <div class="list-group-item active">CHOOSE A DIRECTION</div>
    {{#with busDirections}}
      {{#each dir}}
        {{> singleDirection}}
      {{/each}}
    {{/with}}
  {{/if}}
{{else}}
  <div class="list-group-item active">CHOOSE A TRANSIT LINE</div>
  {{#each busLines}}
    {{> singleRoute}}
  {{/each}}
{{/if}}

</div>
<div class="col-xs-12 stop-editor">
  <button class="cancel btn ca-btn btn-danger">CANCEL</button>
  {{#if stopDescription}}
    <button class="save btn sa-btn btn-success">SAVE</button>
  {{/if}}
</div>
<div class="col-xs-12 exit">
  <button class="delete del-btn delete-location">DELETE TRANSIT STOP</button>
</div>
</div>
</template>

<template name="singleRoute">
  <button type="button" class="list-group-item">{{desc}}</button>
</template>

<template name="singleDirection">
  <button type="button" class="list-group-item">{{desc}}</button>
</template>

<template name="singleStop">
  <button type="button" class="list-group-item">{{desc}}</button>
</template>

